body {
    padding: 2rem 0;
}

.container {
    width: 100%;
    max-width: 40rem;
    padding: 0 .5rem;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.steps {
    display: grid;
    gap: 1.5rem;
}

.grid {
    display: grid;
}

.gap-2 {
    gap: .5rem;
}

.gap-6 {
    gap: 1.5rem;
}

.narrow {
    max-width: 20rem;
}